.main-navigation .menu {
    display: flex;
    flex-wrap: wrap;
}

.main-navigation .menu li.menu-item {
    position: relative;
    margin-right: 40px;
}

@media (max-width: 1600px) {
    .main-navigation .menu li.menu-item {
        margin-right: 25px;
    }
}

@media (max-width: 1440px) {
    .main-navigation .menu li.menu-item {
        margin-right: 16px;
    }
}

.main-navigation .menu li.menu-item:last-child {
    margin-right: 0px;
}

.main-navigation .menu li.menu-item>a {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.main-navigation .menu li.menu-item>a:hover {
    --tw-text-opacity: 1;
    color: rgb(3 171 219 / var(--tw-text-opacity));
}

@media (max-width: 1440px) {
    .main-navigation .menu li.menu-item>a {
        font-size: 16px;
        line-height: 20px;
    }
}

.main-navigation .menu li.menu-item>a.active {
    --tw-text-opacity: 1;
    color: rgb(3 171 219 / var(--tw-text-opacity));
}

.main-navigation .menu li.menu-item:hover .sub-menu {
    display: block;
}

.main-navigation .menu li.menu-item .sub-menu {
    position: absolute;
    left: 0px;
    margin: 0px;
    display: none;
    border-radius: 0.375rem;
    padding: 10px;
    top: calc(100% + 7px);
    width: 220px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 12%);
    background: #FFF;
}

.main-navigation .menu li.menu-item .sub-menu li a {
    position: relative;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.main-navigation .menu li.menu-item .sub-menu li a:hover {
    --tw-text-opacity: 1;
    color: rgb(3 171 219 / var(--tw-text-opacity));
}

@media (max-width: 1440px) {
    .main-navigation .menu li.menu-item .sub-menu li a {
        font-size: 16px;
        line-height: 20px;
    }
}

.main-navigation .menu li.current_page_item > a,
.main-navigation .menu li.current_page_ancestor > a,
.main-navigation .menu li.current-menu-ancestor > a,
.main-navigation .menu li.current-menu-item > a,
.main-navigation .menu li.current-menu-parent > a {
    color: green;
}

/*header responsive menu*/

.mobile-navigation-icon {
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.mobile-navigation-icon:hover i {
    background-color: #086AD8
}

.mobile-navigation-icon:hover i:before {
    width: 80%;
    background-color: #086AD8
}

.mobile-navigation-icon:hover i:after {
    background-color: #086AD8;
    width: 60%
}

.mobile-navigation-icon i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.mobile-navigation-icon i:before,
.mobile-navigation-icon i:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    content: "";
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.mobile-navigation-icon i:before {
    bottom: 8px;
}

.mobile-navigation-icon i:after {
    bottom: -8px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile-navigation-icon.white-md-icon i {
        background-color: #fff
    }

    .mobile-navigation-icon.white-md-icon i:before {
        background-color: #fff
    }

    .mobile-navigation-icon.white-md-icon i:after {
        background-color: #fff
    }

    .mobile-navigation-icon.white-md-icon:hover i {
        background-color: #086AD8
    }

    .mobile-navigation-icon.white-md-icon:hover i:before {
        width: 80%;
        background-color: #086AD8
    }

    .mobile-navigation-icon.white-md-icon:hover i:after {
        background-color: #086AD8;
        width: 60%
    }
}

.mobile-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    overflow: auto;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    visibility: hidden;
    opacity: 0
}

.mobile-menu-overlay__inner {
    transform: translateX(120%);
    width: 400px;
    height: 100%;
    float: right;
    cursor: default;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow-y: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(0 144 185 / var(--tw-bg-opacity));
}

@media only screen and (max-width: 479px) {
    .mobile-menu-overlay__inner {
        width: 300px
    }
}

.mobile-menu-overlay.active {
    visibility: visible;
    opacity: 1
}

.mobile-menu-overlay.active .mobile-menu-overlay__inner {
    transform: translateX(0%)
}

.mobile-menu-overlay__header .mobile-navigation-close-icon {
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:before,
.mobile-menu-overlay__header .mobile-navigation-close-icon:after {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    position: absolute;
    top: 23px;
    left: 8px;
    content: '';
    width: 24px;
    height: 3px;
    transform-origin: 50% 50%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:before {
    transform: rotate(45deg);
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:after {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:hover {
    color: #086AD8;
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:hover:before,
.mobile-menu-overlay__header .mobile-navigation-close-icon:hover:after {
    transform: none
}

.mobile-menu-overlay__body {
    padding: 0px 40px 100px
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li>a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li>a:hover {
    color: #ffffff;
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.current_page_item>a,
.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.current_page_ancestor>a,
.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.current-menu-ancestor>a,
.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.current-menu-item>a,
.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.current-menu-parent>a {
    color: #ffffff;
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li:last-child {
    border-bottom: 0
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children {
    position: relative
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .menu-expand {
    position: absolute;
    right: 0;
    top: 22px;
    cursor: pointer;
    line-height: 1px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .menu-expand:before {
    content: '';
    background: url(../../assets/images/arrow-dropdown-icon.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children.active .menu-expand:before {
    background: url(../../assets/images/arrow-dropdown-icon.svg);
    transform: rotate(180deg);
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu {
    padding: 12px 0 14px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: none;
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li a {
    display: block;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    line-height: 1.5;
    padding: 10px 0
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li a:hover {
    color: #ffffff
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li:last-child {
    border-bottom: 0
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li.menu-item-has-children {
    position: relative
}

.mobile-menu-overlay__body .offcanvas-navigation>.menu-main-navigation-container>ul>li.menu-item-has-children .sub-menu li.menu-item-has-children .menu-expand {
    position: absolute;
    right: 0;
    top: 6px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

/*end header responsive*/

.responsive-block-menu {
    display: none;
}

.site-header {
    position: relative;
    z-index: 333;
}


@media (max-width: 991px) {
    .main-navigation {
        display: none;
    }

    .responsive-block-menu {
        display: block;
    }
}