@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*,
*::after,
*::before {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 22px;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: #000;
}

b,
strong {
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    padding-bottom: 0px;
}

p:empty {
    display: none;
}

p:last-child {
    margin-bottom: 0px;
}

a {
    color: green;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

a:hover {
    color: #000;
}

a {
    text-decoration: none;
}

a:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.text-right {
    text-align: right;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;
}

dt {
    font-weight: 600;
    margin: 0;
}

dd {
    margin: 0;
}

li::marker {
    display: none;
    opacity: 0;
    color: transparent;
    font-size: 0;
}

.site-main ul {
    padding: 0;
    margin: 30px 0;
}

.site-main ul li {
    position: relative;
    padding: 0 0 0 25px;
    margin: 0px 0 15px 0;
    list-style: none;
}

.site-main ul li:last-child {
    margin-bottom: 0;
}

.site-main ul li a {
    --tw-text-opacity: 1;
    color: #000;
    text-decoration: none;
}

.site-main ul li a:hover {
    --tw-text-opacity: 1;
    color: green;
    text-decoration: none;
}

.site-main ul li ul {
    padding: 0;
    margin: 20px 0 30px 0;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.site-header {
    padding: 30px 0;
}

.site-header .site-logo a {
    display: block;
}

.site-header .site-logo img {
    max-width: 100%;
    width: 100%;
}

.p-15 {
    padding: 15px;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.mr-20 {
    margin-right: 20px;
}

.site-header {
    position: relative;
    z-index: 333;
}

.main-content {
    padding: 80px 0;
}

@media (max-width: 991px) {
    .site-main ul li:before {
        height: 8px;
        width: 8px;
        top: 9px;
    }

    .site-main ol li:before {
        left: -23px;
    }
}